@import url( 'https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');
@import "reset";
$white: #fff;
$darkBlue: #3a4793;
$lightBlue: #25b3ec;
$lightPurple: #9787ee;
$mustard: #ffbf3e;

* {
    box-sizing: border-box;
    color: $white;
}


html, body {
    height: 100%;
    font-family: 'Roboto';
}

#home {
    background: url('http://pureimg.com/public/uploads/large/2414995241498p9ryhwkpfxlp0bx9peiis04rfg18nv3tfohyljbsfuls3kzol15amqkvvj0vebexi73mvgedwetntlfb0qqpixja5vxvwgandmb.jpg')
    center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;

    .welcome-box {
        background: rgba(0,0,0,.6);
        padding: 40px 15px;
        text-align: center;

        h1 {
            font-family: 'Roboto';
            font-size: 28px;
            font-weight: 100;
            text-transform: uppercase;
            color: $white;
        }

        a {
            text-decoration: none;
        }
    }

    .btn {
        width: 100%;
        padding: 10px 20px;
        text-align: center;
        margin: 15px 0;
        &.lightBlue {
            font-size: 25px;
            background: $lightBlue;
        }
    }
}
